#body {
  background-color: #56a4a9;
  background-image: url('thirdTry.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  font-family: 'Oswald', sans-serif;
}

#header {
  text-align: center;
}

#text {
  font-size: 65px;
  font-family: 'Kaushan Script', cursive;
}

#loggedIn {
  text-align: left;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

#auth {
  text-align: left;
}

form div {
  margin: 1em;
  display: inline-block;
}
