#body {
  background-color: #56a4a9;
  font-family: 'Oswald', sans-serif;
}
/*
#c2d6d6

#56a4a9
*/
#header {
  text-align: center;
}

#text {
  font-size: 65px;
  font-family: 'Kaushan Script', cursive;
}

#loggedIn {
  text-align: left;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

#auth {
  text-align: left;
}

form div {
  margin: 1em;
  display: inline-block;
}
