#emailInfo {
  text-align: center;
}

#form {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 650px;
  width: 200px;
}

input {
  display: flex;
}

#message {
  align-self: flex-end;
  flex-grow: 1;
  margin-top: 15px;
}

#message label {
  display: flex;
  justify-content: center;
}

#submit {
  align-self: flex-end;
  align-self: center;
  flex-grow: 4;
  flex-basis: auto;
}
