#bodyForm {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

#emailInfo {
  margin-bottom: 10px;
}

#formSO {
  margin-top: 10px;
  width: 350px;
  margin-bottom: 25px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #bbe0e3;
}

.shoutout-input {
  align-self: center;
}

#errMsg {
  flex-grow: 1;
  padding: 5px 5px;
  font-size: 14px;
  color: #fa050f;
  margin-bottom: 0%;
}

input {
  display: flex;
}

#message {
  align-self: center;
  flex-grow: 1;
  margin-top: 15px;
}

#message label {
  display: flex;
  justify-content: center;
}

#submit {
  align-self: center;
  flex-grow: 4;
  flex-basis: auto;
}
