#bodyForm {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

#emailInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 185px;
  width: 80vw;
}

#emailName {
  flex: 0 32%;
  height: 75px;
  padding: 15px 15px;
  margin: 15px 15px;
}

#noEmails {
  height: 40px;
}

#formSO {
  margin-top: 5px;
  width: 350px;
  margin-bottom: 25px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #bbe0e3;
}

.shoutout-input {
  align-self: center;
}

#errMsg {
  flex-grow: 1;
  padding: 5px 5px;
  font-size: 14px;
  color: #fa050f;
  margin-bottom: 0%;
}

input {
  display: flex;
}

#message {
  align-self: center;
  flex-grow: 1;
  margin-top: 15px;
}

#message label {
  display: flex;
  justify-content: center;
}

#submit {
  align-self: center;
  flex-grow: 4;
  flex-basis: auto;
}
